/*  navbar */
.navbar-brand{
	font-family: Anton;
	font-size: 30px;
	font-weight: bold;
}


/* awal */
.tombol{
	text-transform: uppercase;
	border-radius: 80px;
}
.jumbotron{
	background-image: url(../img/tekno.jpg);
	background-size: cover;
	height: 50px;
}

.tentang .container{
	width: 100%;
	height: 700px;
	border: 1px solid #f8f8f8;
	box-shadow: 1px 1px 1px rgba(0,0,0, 0.7);
}
.tentang img{
	width: 200px;
}
.tentang h1{
	text-transform: uppercase;
	margin-top: -20px;
}
.tentang hr{
	border: 2px solid #000;
	width: 25%;
	margin-top: -3px;
	margin-bottom: 30px;
}

/* resposive desktop version */
@media (min-width: 992px){
	.navbar-brand ,.nav-link{
		color: white !important;
		text-shadow: 1px 1px 2px rgba(0,0,0, 0.7);
	}
	.nav-link{
		text-transform: uppercase;
		margin-right: 30px;
	}

	.nav-link:hover::after{
		content: '';
		display: block;
		border-bottom: 3px solid #0b63dc;
		width: 50%;
		margin: auto;
		padding-bottom: 5px;
		margin-bottom: -9px;
	}
	.jumbotron{
		margin-top: -125px;
	}
}